[Unit]
Description=Bitcoin daemon
After=network.target
RequiresMountsFor=/mnt/nvme-4tb

[Service]
ExecStart=/usr/local/bin/bitcoind \
                        -conf=/mnt/nvme-4tb/bitcoin/bitcoin.conf \
                        -datadir=/mnt/nvme-4tb/bitcoin
User=bitcoin
Group=bitcoin
Type=simple
Restart=on-failure
TimeoutStopSec=600
KillMode=process
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
