[Unit]
Description=Electrs daemon
After=network.target bitcoind.service
Requires=bitcoind.service

[Service]
# WICHTIG: Wir verwenden hier den Benutzer 'bitcoin' und die Gruppe 'bitcoin'.
User=bitcoin
Group=bitcoin

# Das Arbeitsverzeichnis für Electrs.
WorkingDirectory=/mnt/nvme-4tb/electrs

# Der Pfad zum Electrs Binary
ExecStart=/usr/local/bin/electrs --conf /mnt/nvme-4tb/electrs/config.toml

# Wichtige Sicherheitsmaßnahmen für Systemd-Dienste:
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=false
# ReadWritePaths muss das electrs Datenverzeichnis und auch das bitcoin Datenverzeichnis enthalten.
ReadWritePaths=/mnt/nvme-4tb/electrs /mnt/nvme-4tb/bitcoin /home/bitcoin

Restart=on-failure
RestartSec=10s
LimitNOFILE=10000
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
